<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookingCare: Confirm results and invoices after successful medical examination</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap");
      body {
        font-family: "Nunito", sans-serif;
      }

      h1 {
        font-size: 24px;
        font-weight: bold;
        color: #5dade2;
      }

      p {
        font-size: 16px;
        text-align: left;
        margin-bottom: 20px;
      }

      .container {
        width: 80%;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Confirm results and invoices after successful medical examination</h1>
      <p>Dear <%=patientName %>,</p>
      <p>
        - This email informs the doctor's appointment schedule with <%=doctorName %> at <%=timeFrame %>,
        <%=dateBooked %> has completed the procedures as well as the medical examination process at
        <%=clinicName % >.
      </p>
      <p>
        - BookingCare is honored to have the opportunity to provide you with the best services and
        experiences. If you have any further questions or information, feel free to contact us on 0868686868.
      </p>
      <p>- Once again, thank you very much for your trust in using BookingCare's appointment service.</p>
      <p>Best regards,</p>
      <p>BookingCare</p>
    </div>
  </body>
</html>
